Exercise 1: Make an empty list and call it names

In [1]:
test_list=[]
print(test_list)

[]

Exercise 2: Make names filled with names of 5 people: Hannah, Victor, Sam, James, Sarah

In [3]:
test_list=["Hannah", "Victor", "Sam","James","Sarah"]
print(test_list)

['Hannah', 'Victor', 'Sam', 'James', 'Sarah']

Exercise 3: Make names sort in reverse. Print out the list using a for-loop

In [15]:
#import sys
ind_list=[0,1,2,3,4]
test_list=["Hannah", "Victor", "Sam","James","Sarah"]
r_list=sorted(test_list,reverse=True)
print(r_list)
for i in ind_list:
    print(r_list[i])

['Victor', 'Sarah', 'Sam', 'James', 'Hannah']
Victor
Sarah
Sam
James
Hannah

Exercise 4: Make names sorted alphabetically. Print out the list using while loop

In [17]:
test_list=["Hannah", "Victor", "Sam","James","Sarah"]
r_list=sorted(test_list,reverse=True)
i=0
while i <=4:
    print(r_list[i])
    i+=1

Victor
Sarah
Sam
James
Hannah

Exercise 5: Pull out the fourth item from names and print it out

In [19]:
name=test_list[3]
print(name)

James

Exercise 6: Pull out the first item from names and print it out

In [20]:
name=test_list[0]
print(name)

Hannah

Exercise 7: Make a variable named fruits that contains a string "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit" and make it into a list splitting it by the commas.

In [26]:
import sys
fruits="Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit"

#fruits=["Apples", "Oranges", "Bananas", "Pineapples", "Persimmons", "Dragonfruit"]
new_list=fruits.split(',')
print(new_list)

['Apples', ' Oranges', ' Bananas', ' Pineapples', ' Persimmons', ' Dragonfruit']

Exercise 8: Create a list of the first 10 square numbers. i.e. the square of each integer from 1 to 10.

In [30]:
dig_list=[]
i=0
while i <10:
    dig=i+1
    dig_list.append(dig)
    i+=1
print(dig_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Exercise 9: Create a multiplication table from 1 to 10

In [101]:
dig_list=[]


def multplit(a,b):
    return a*b

i=1
while i <= 9:
    num=i
    num_list=[]
#    print(num)
    j=1
    while j <= i:
        c=multplit(num,j)
#        print(c)
        mystr="a x b = c"
        astr=str(num)
#        print(astr)
        new=mystr.replace(mystr[0],astr)
        bstr=str(j)
#        print(bstr)
        new=new.replace(new[4],bstr)
        cstr=str(c)
        new=new.replace(new[8],cstr)

        j+=1
        
        num_list.append(new)
    print(num_list)

    i+=1

['1 x 1 = 1']
['2 x 1 = 2', '2 x 2 = 4']
['3 x 1 = 3', '3 x 2 = 6', '3 x 3 = 9']
['4 x 1 = 4', '4 x 2 = 8', '4 x 3 = 12', '4 x 4 = 16']
['5 x 1 = 5', '5 x 2 = 10', '5 x 3 = 15', '5 x 4 = 20', '5 x 5 = 25']
['6 x 1 = 6', '6 x 2 = 12', '6 x 3 = 18', '6 x 4 = 24', '6 x 5 = 30', '6 x 6 = 36']
['7 x 1 = 7', '7 x 2 = 14', '7 x 3 = 21', '7 x 4 = 28', '7 x 5 = 35', '7 x 6 = 42', '7 x 7 = 49']
['8 x 1 = 8', '8 x 2 = 16', '8 x 3 = 24', '8 x 4 = 32', '8 x 5 = 40', '8 x 6 = 48', '8 x 7 = 56', '8 x 8 = 64']
['9 x 1 = 9', '9 x 2 = 18', '9 x 3 = 27', '9 x 4 = 36', '9 x 5 = 45', '9 x 6 = 54', '9 x 7 = 63', '9 x 8 = 72', '9 x 9 = 81']

Exercise 10: Write a program that gets test scores from a user and then calculates and displays the average of the scores that have been enter. The output of the program should show the original scores and the average.

In [106]:
def ave(num):
    sum=0
    for i in num:
        sum=sum+i
    ave=sum/len(num)
    return ave
    
score_list=[]
n=int(input("How many scores you have? "))
if n>0 and n<10:
    for i in range(n):
        score=int(input("Enter score: "))
        if score>0 and score<=100:
            score_list.append(score)
        else:
            print("ERROR")
    avg=ave(score_list)
    print("The scores are: ",score_list)
    print("The average is ",avg)
else:
    print("ERROR")

How many scores you have? 5
Enter score: 99
Enter score: 90
Enter score: 86
Enter score: 98
Enter score: 87
The scores are:  [99, 90, 86, 98, 87]
The average is  92.0

Challenge:
Write a program that maintains a list of movies, and the user can list all the movies, add a movie to the list, or delete a movie from the list.

Example

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program 
```

###### Command: list
``` 
 1. Toy Story
 2. Lion King
 3. Frozen
 ```

###### Command: add
 ```
 Name: Snow White
 Snow White was added.
 ```

###### Command: del
```
 Number: 3
 Frozen was deleted.```